@import config.sass

.cart
  width: 870px
  margin-right: 2em

  &-product-remove
    margin-bottom: .5em
    margin-top: .5em
    text-align: right
    color: $main-color-two

  &-product-img
    vertical-align: middle
    display: inline-block
    padding-right: 2em
    img
      width: 100px

  &-product-quantity
    left: 1em
    top: 50%
    transform: translateY(-50%)

  &-product-price
    color: $main-color-two
    text-align: right
    right: 1em
    top: 50%
    transform: translateY(-50%)

  &-product-quantity, &-product-price
    position: absolute
    font-size: 1.5em

  &-product-details
    position: relative
    padding: 2em
    width: 100%
    margin-top: 2em
    box-sizing: border-box
    border-radius: 10px
    background-color: $box-shadow
  &-product-name
    display: inline-block
    width: 600px
    vertical-align: middle
    font-size: .8em

    a
      color: $font-basic-color
      text-decoration: none
  li
    background-color: $section-color
    padding: 1em
    width: 100%
    margin-bottom: 2em
    box-shadow: 5px 5px 3px $box-shadow
    border-radius: 5px
    list-style: none

.cart-summary
  background-color: $section-color
  position: relative
  padding: 2em
  width: 500px
  height: 300px
  margin-left: 3em
  box-shadow: 5px 5px 3px $box-shadow
