
$main-color-one: #194c75

$main-color-two: rgb(238, 68, 68)

$bg-color: rgb(252, 252, 252)

$section-color: white

$font-basic-color: #636363

$button-color: linear-gradient(0deg, rgba(240,193,74,1) 0%, #ffd900 100%)

$button-color-gray: #bdbdbd

$box-shadow: #f7f7f7

body
  font-family: 'Nunito', sans-serif
  color: $font-basic-color
